@model VotingModel
@{
    ViewData["Title"] = "AlreadyVoted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AlreadyVoted</h2>

<p>
    You have already voted. There are the results:
</p>

<ul>
    <li>@Html.DisplayNameFor(model => Model.Stand) : @Model.Stand</li>
    <li>@Html.DisplayNameFor(model => Model.Mod) : @Model.Mod</li>
    <li>@Html.DisplayNameFor(model => Model.Pau) : @Model.Pau</li>
    <li>@Html.DisplayNameFor(model => Model.Rain) : @Model.Rain</li>
    <li>@Html.DisplayNameFor(model => Model.Draft) : @Model.Draft</li>
    <li>@Html.DisplayNameFor(model => Model.Sing) : @Model.Sing</li>
    <li>@Html.DisplayNameFor(model => Model.Tri) : @Model.Tri</li>
    <li>@Html.DisplayNameFor(model => Model.Pea) : @Model.Pea</li>
    <li>@Html.DisplayNameFor(model => Model.War) : @Model.War</li>
    <li>@Html.DisplayNameFor(model => Model.Back) : @Model.Back</li>

</ul>

<p>
    <a asp-action="Index">Home</a>
</p>
