@model IEnumerable<LeagueManagerWebApp.Models.EventModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Format)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeagueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isFinished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Winner)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Date)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Format)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeagueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isFinished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Winner)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.Date)
            </td>
            <td>
                <a asp-action="Voting" asp-route-id="@item.Id">Voting</a>
            </td>
        </tr>
}
    </tbody>
</table>
