@model List<PlayerModel>
@{
    ViewData["Title"] = "LeagueView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="container">
        <div class="row">
            <h2 class="display-2 ">Ranking ligi</h2>
        </div>
        <div class="row">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            Miejsce
                        </th>
                        <th scope="col">
                            Gracz
                        </th>
                        <th scope="col">
                            Elo
                        </th>
                        <th scope="col">
                            Zwycięstwa
                        </th>
                        <th scope="col">
                            Porażki
                        </th>
                        <th scope="col">
                            Remisy
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td scope="row" data-label="Miejsce">
                                    @(i + 1)
                                </td>
                                <td data-label="Gracz">
                                    @Model[i].Name
                                </td>
                                <td data-label="Elo">
                                    @Model[i].Elo
                                </td>
                                <td data-label="Zwycięstwa">
                                    @Model[i].Wins
                                </td>
                                <td data-label="Przegrane">
                                    @Model[i].Losses
                                </td>
                                <td data-label="Remisy">
                                    @Model[i].Draws
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>