@model List<PlayerModel>
@{
    ViewData["Title"] = "LeagueView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
<div class="container">
    <div class="row">
        <h2 class="display-2 ">Ranking ligi</h2>
    </div>
    <div class="row">
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th>
                                Miejsce
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Elo
                            </th>
                            <th>
                                Games Won
                            </th>
                            <th>
                                Games Lost
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        @if (Model != null)
                        {
                            for(int i = 0; i<Model.Count;i++)
                            {
                                <tr>
                                    <td>
                                        @(i+1)
                                    </td>
                                    <td>
                                        @Model[i].Name
                                    </td>
                                    <td>
                                        @Model[i].Elo
                                    </td>
                                    <td>
                                        @Model[i].Wins
                                    </td>
                                    <td>
                                        @Model[i].Losses
                                    </td>
                                </tr>
                                
                                
                            }
                        }
                        </tbody>
                    </table>
               
          
        
    </div>
</div>
</body>