@using Microsoft.AspNetCore.Identity
@model IEnumerable<LeagueManagerWebApp.Models.AchievementModel>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<body>
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="display-2">Osiągnięcia</h2>
        </div>
        <div class="row">
            <div class="col-6">
                <p>
                    <a class="btn btn-lg btn-primary btn-block" asp-action="ShowStandings">Ranking</a>
                </p>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="col-6">
                    <a class="btn btn-lg btn-primary btn-block" asp-action="AddAchievement">Przydziel osiągnięcie</a>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Points)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Points)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>