@model LeagueManagerWebApp.ViewModels.PlayerViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-left">Nick: @Model.Name</h1> <br/>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <h3 class="text-left">Rozegrane: @Model.MatchesPlayed</h3> <br>
            <h3 class="text-left">Zwycięstwa: @Model.MatchesLost</h3> <br>
            <h3 class="text-left">Porażki: @Model.MatchesWon</h3> <br>
            <h3 class="text-left">Elo: @Model.Elo</h3> <br>
            @if (Model.MatchesPlayed != 0)
            {
                <h3 class="text-left">% zwycięstw: @(Model.MatchesWon * 100 / Model.MatchesPlayed) %</h3>
                <br>
            }
            else
            {
                <h3 class="text-left">% zwycięstw: 0%</h3>
            }
        </div>
    </div>
        <div class="row">
            <a class="text-right">Historia gier:</a> <br>
            @if (Model.MatchesPlayed > 0)
            {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Player 1
                                </th>
                                <th>
                                    Player 2
                                </th>
                                <th>
                                    Zwycięzca
                                </th>
                                <th>
                                    Data
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.MatchupsHistory != null)
                            {
                                foreach (var elem in Model.MatchupsHistory)
                                {
                                    <tr>
                                        <td>
                                            @elem.Player1
                                        </td>
                                        <td>
                                            @elem.Player2
                                        </td>
                                        <td>
                                            @elem.Winner
                                        </td>
                                        <td>
                                            @elem.Date.ToShortDateString()
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                
            }
        </div>
    
</div>
