@model DailyCardModel
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container" style="margin-left: 10%">

        <div class="row ">
            <h1 class="display-3">Hello</h1>
        </div>
        <br />
        <div class="row">
            <p>
                Witam na portalu. Poniżej losowa karta, linki znajdują się w menu po lewej.
            </p>
        </div>
    </div>
    @if (Model == null)
    {
        <p>
            Czekam na kartę...
        </p>
    }
    else
    {
        <div class="container" style="margin-left: 10%">
            <div class="row">
                <div class="col-6 col-sm-6">
                    <table class="table table-bordered table-striped table-hover">
                        <tbody>
                            <tr>
                                <td scope="row">
                                    <strong>Nazwa</strong>
                                </td>
                                <td scope="row">
                                    @Model.Name
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Data wydania</strong>
                                </td>
                                <td>
                                    @Model.ReleaseDate
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Cena</strong>
                                </td>
                                <td>
                                    <p>@Model.price &euro;</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Link do decku:</strong>
                                </td>
                                <td>
                                    <a href="@Model.deckPath"> @Model.deckPath</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Linki do kupienia:</strong>
                                </td>
                                <td>
                                    <a href="@Model.TCGpath">@Model.TCGpath </a><br /> <br />
                                    <a href="@Model.CMpath">
                                        @Model.CMpath
                                    </a><br /> <br />
                                    <a href="@Model.CHpath">@Model.CHpath</a> <br /> <br />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6 col-sm-6">
                    <img class="img" src="@Model.ImgPath" />
                </div>
            </div>
        </div>

    }
</body>